.copy-h1 {
  font-size: 15px;
  color: $white;
  text-transform: uppercase;
  @include respond-to(medium) {
    font-size: 20px;
  }
  @include respond-to(large) {
    font-size: 30px;
  }
}

.copy-h2 {
  font-size: 14px;
  letter-spacing: 7px;
  color: $white;
  text-transform: uppercase;
  font-weight: normal;
  @include respond-to(medium) {
    position: relative;
    top: -9px;
    font-size: 16px;
  }
  @include respond-to(x-large) {
    font-size: 18px;
  }
}

.copy-h3 {
  font-size: 20px;
  color: $white;
  font-weight: normal;
  @include respond-to(medium) {
    font-size: 25px;
  }
  @include respond-to(x-large) {
    font-size: 30px;
  }
}

.copy-body {
  color: $white;
  font-size: 14px;
  line-height: 20px;
  @include respond-to(medium) {
    font-size: 16px;
  }
  @include respond-to(large) {
    font-size: 18px;
    line-height: 30px;
  }
}
