@font-face {
	font-family: "Aller_Bd";
	src: url("fonts/Aller_Bd.ttf");
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: "Aller_Lt";
	src: url("fonts/Aller_Lt.ttf");
	font-weight: normal;
	font-style: normal;
}
