.logo-app{
  max-width: 100%;
}

.wrapper{
  padding: 0px 20px;
  margin: auto;
  max-width: 575px;
}

.header{
  margin: auto;
  padding: 10px 0;
  text-align: center;
  @include respond-to(medium) {
    padding: 30px 0;
  }
  @include respond-to(large) {
    padding: 100px 0 60px 0;
  }
}

.row{
  display: inline-block;
  width: 100%;
  margin-bottom: 5px;
  &.centered {
    text-align: center;
  }
  @include respond-to(medium) {
    margin-bottom: 10px;
  }
  @include respond-to(large) {
    margin-bottom: 20px;
  }
}

.separator {
  border-color: $medium-gray;
}
