html{
  height: 100%;
}
/* Space out content a bit */
body {
    font-family: 'Aller_Bd';
    font-size: 14px;
    height: 100%;
    background-color: $app-blue;
    &.body-init{
      background: url('/images/bg-init.png');
      background-size: cover;
      background-repeat: no-repeat;
    }
    &.body-home{
      background: url('/images/bg-home.png');
      background-size: cover;
      background-repeat: no-repeat;
    }
    &.body-start{
      background: url('/images/bg-start.png');
      background-size: cover;
      background-repeat: no-repeat;
    }
}

a {
  @include single-transition(all, 100ms, ease-in);
  color: $app-blue;
  text-decoration: none;
  &:hover{
    color: lighten( $app-blue, 15% );
    text-decoration: none;
  }
}


.logo-app{
  float: left;
  height: 50px;
}
.logo-app-home{
  width: 100px;
  margin-bottom: 150px;
  margin-top: 110px;
}
.logo-app-init{
  margin-bottom: 50px;
  margin-top: 150px;
}


.wrapper{
  margin: auto;
  max-width: 575px;
  height: 100%;
}

.header{
  margin: auto;
  text-align: center;
  background-color: white;
  font-size: 18px;
  .col-one-fifth{
    border-right: 1px solid $app-blue;
  }
  i{
    margin: 11px 0;
  }
  .copy-h1{
    padding: 10px 0;
    margin-top: 3px;
    color: $app-blue;
    float: left;
    font-family: 'Aller_Lt';
    font-size: 20px;
  }
}

.row{
  display: inline-block;
  width: 100%;
  &.centered {
    text-align: center;
  }
  @include respond-to(medium) {
    margin-bottom: 10px;
  }
  @include respond-to(large) {
    margin-bottom: 20px;
  }
}

.separator {
  border-color: $medium-gray;
}

.lnk-white{
  color: white;
  &:hover, &:visited{
    color: rgba(white, 0.7);
  }
}

.start-buttons{
  margin-top: 50px;
}
.start-title{
  margin-top: 50px;
}
