.logo-app{
  float: left;
  height: 50px;
}
.logo-app-home{
  max-width: 100%;
  margin-bottom: 50px;
  margin-top: 50px;
}

.wrapper{
  padding: 0px 20px;
  margin: auto;
  max-width: 575px;
}

.header{
  margin: auto;
  padding: 10px 0;
  text-align: center;
  border-bottom: 1px solid white;
  @include respond-to(medium) {
    padding: 30px 0;
  }
  @include respond-to(large) {
    padding: 100px 0 60px 0;
  }

  .copy-h1{
    @include vertical-align(50px);
  }
}

.row{
  display: inline-block;
  width: 100%;
  margin-bottom: 5px;
  &.centered {
    text-align: center;
  }
  @include respond-to(medium) {
    margin-bottom: 10px;
  }
  @include respond-to(large) {
    margin-bottom: 20px;
  }
}

.separator {
  border-color: $medium-gray;
}

.lnk-white{
  color: white;
  &:hover, &:visited{
    color: rgba(white, 0.7);
  }
}
