// Sass Variables

// Browser variables
$is-ie: false;

// Colour palette
$body-gray: #2a2f30;
$dark-gray: #1d2121;
$medium-gray: #435257;
$light-gray: #657679;
$button-gray: #263134;
$white: #fff;

$app-blue: #00AEA9;
$app-green: #25bbbb;
$app-red: #e8524b;
$app-yellow: #f18700;
$app-orange: #f18700;


// Fonts
$base-font-size: 14 !default;
