.homepage-content {
  .copy-body{
    font-weight: 300;
    width: auto;
    margin: 20px auto;
    @include respond-to(medium) {
      margin: 65px auto 30px auto;
    }
  }
}
#map_canvas{
  width: 100%;
  height: 300px;
}
