<header id="header" class="header"></header>
<div class="row">
  <section id="content" class="grid-20 content homepage-content">
    <div class="col-one-whole medium-col-one-half w-bottom-margin">
      <button id="btn-info" class="btn btn-blue">Información</button>
    </div>
    <div class="col-one-whole medium-col-one-half">
      <button id="btn-start" class="btn btn-blue">Empezar</button>
    </div>
  </section>

  <textarea name="" id="txt-debug-position" class="txt-debug-position" cols="30" rows="20"></textarea>
</div>

