<div class="row">
  <section id="content" class="grid-20 content homepage-content">
    <div class="col-one-whole centered">
      <img src="images/delines-08.png" alt="Delines" class="logo-app-home">
    </div>
    <div class="col-one-whole w-bottom-margin">
      <button id="btn-info" class="btn btn-white">Información</button>
    </div>
    <div class="col-one-whole">
      <button id="btn-start" class="btn btn-white">Empezar</button>
    </div>
  </section>

  <textarea name="" id="txt-debug-position" class="txt-debug-position" cols="30" rows="20"></textarea>
</div>

