
<header id="header" class="header"></header>
<div class="row">
  <section id="content" class="grid-20 content info-content">
    <div class="col-one-whole">
      <p class="copy-body info-text">
        Las líneas de deseo son los caminos que tomamos diariamente para movernos por el espacio urbano y que no tienen por qué coincidir con los establecidos. La ciudad está creada para moverse fácilmente de un lado a otro, pero este diseño muchas veces no es el ideal. Además, en muchas ocasiones el diseño no está pensado para personas con algún tipo de discapacidad, y gracias a Delines podemos percatarnos de los lugares que suponen una dificultad a la hora de trasladarse.
      </p>
      <p class="copy-body info-text">
        En Charrosfera surgió la idea de la app para ir guardando las líneas de deseo (<a class="lnk-white" target="_blank" href="http://www.yorokobu.es/las-lineas-del-deseo/">Lineas de Deseo en Yorokobu</a>), para poder mejorar el espacio urbano. A partir de este reto con un equipo multidisciplinar se desarrolló y diseñó la App (Web y Android) en Hack for Good (Salamanca).
        En esta App es la inteligencia colectiva de la gente la que nos ayuda a mejorar el diseño de nuestras ciudades. Ya que estas rutas guardadas permiten ver de una forma muy visual todos los caminos “no establecidos” que se dan en nuestra ciudad. Gracias a esta idea todos los usuarios podrán dar a conocer aquellas dificultades  que se encuentren al desplazarse por la vía pública.
      </p>
    </div>
  </section>
</div>

