<header id="header" class="header"></header>
<section id="content" class="content homepage-content">

  <div class="row">
    <a href="#" class="js-select-transport" data-transport="walk">
      <div class="grid-20">
        <div class="col-one-third">
          <span class="fa fa-edit"></span>
        </div>
        <div class="col-two-thirds">
          Caminando
        </div>
      </div>
    </a>
  </div>

  <div class="row">
    <a href="#" class="js-select-transport" data-transport="bike">
      <div class="grid-20">
        <div class="col-one-third">
          <span class="fa fa-edit"></span>
        </div>
        <div class="col-two-thirds">
          En bici
        </div>
      </div>
    </a>
  </div>

  <div class="row">
    <a href="#" class="js-select-transport" data-transport="wheels-chair">
      <div class="grid-20">
        <div class="col-one-third">
          <span class="fa fa-edit"></span>
        </div>
        <div class="col-two-thirds">
          En silla de ruedas
        </div>
      </div>
    </a>
  </div>

  <div class="row">
    <a href="#" class="js-select-transport" data-transport="skates">
      <div class="grid-20">
        <div class="col-one-third">
          <span class="fa fa-edit"></span>
        </div>
        <div class="col-two-thirds">
          En patines
        </div>
      </div>
    </a>
  </div>

</section>

