<header id="header" class="header"></header>
<section id="content" class="content homepage-content">

  <div class="row start-title">
    <div class="grid-0">
      <div class="col-one-whole centered">
        <p class="copy-h3">
          ¿Cómo de te desplazas?
        <p/>
      </div>
    </div>
  </div>
  <div class="row start-buttons">
    <div class="grid-20">
      <div class="col-one-half centered">
        <a href="#" class="js-select-transport btn-start" data-transport="caminando">
          <img src="images/walk.png" alt="">
        </a>
      </div>
      <div class="col-one-half centered">
        <a href="#" class="js-select-transport  btn-start" data-transport="corriendo">
          <img src="images/run.png" alt="">
        </a>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="grid-20">
      <div class="col-one-half centered">
        <a href="#" class="js-select-transport  btn-start" data-transport="bici">
          <img src="images/bike.png" alt="">
        </a>
      </div>
      <div class="col-one-half centered">
        <a href="#" class="js-select-transport  btn-start" data-transport="silla-ruedas">
          <img src="images/wheel-chairs.png" alt="">
        </a>
      </div>
    </div>
  </div>

</section>

