<header id="header" class="header"></header>
<section id="content" class="content visualization-content">

  <div class="row">
    <div class="grid-20">
      <div class="col-one-whole centered">
        <p class="copy-body js-count-lines">
          Hay X delines credas
        </p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="grid-20">
      <div class="col-one-whole centered">
        <select name="" id="" class="select-box">
          <option value="">Caminando</option>
          <option value="">Corriendo</option>
          <option value="">En bici</option>
          <option value="">En silla de ruedas</option>
        </select>
      </div>
    </div>
  </div>


  <div class="map-wrapper">
    <div id="map" class="map"></div>
  </div>

  <div class="row">
    <div class="grid-0">
      <div class="col-one-whole centered">
        <button class="btn btn-white js-btn-back" id="btn-back">Volver</button>
      </div>
    </div>
  </div>
</section>
